<link rel="stylesheet" href="/css/index.css" />
<h1>Sign Up</h1>
<form action="/sign-up" method="POST">
  <input name="username" type="text" required />
  <input type="text" name="email" id="" required />
  <input name="password" type="password" required />
  <input type="password" name="confirm_password" id="" required />
  <button type="submit">Submit</button>
</form>
